<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ReportGenerator/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /ReportGenerator/index.php [L]
    RewriteRule ^(application|system) - [F,L]
</IfModule>

